PyJWT
PyMySQL
PySocks
ansible
ansible-tower-cli
cryptography>=35.0,<37.0.0
pyopenssl
ansible-runner
dnspython
jmespath
jsonpatch
jsonpickle
jsonpointer
jsonschema
kubernetes
msrestazure
netaddr
openshift
psutil
pyOpenSSL
pymongo
pyparsing
python-memcached
pyvmomi
pywinrm
pywinrm[credssp]
simplejson
urllib3
